body, html{
    padding: 0;
    margin: 0;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: greenyellow;
    margin: 100px;
}